@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700;900&family=Inter:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-f1-red: #E10600;
  --color-f1-dark: #15151E;
  --color-f1-blue: #004D9A;
}

@layer base {
  body {
    @apply bg-white text-f1-dark font-sans;
  }
}

.f1-skew-btn {
  @apply transform skew-x-[-12deg] transition-all duration-200;
}

.f1-skew-fix {
  @apply transform skew-x-[12deg] inline-block;
}

.f1-nav-link {
  @apply relative px-3 py-1 hover:text-f1-red transition-all uppercase tracking-[0.2em] text-[11px] font-black italic flex items-center gap-1.5;
}

.f1-nav-link::after {
  content: '';
  @apply absolute bottom-[-4px] left-0 w-0 h-[2px] bg-f1-red transition-all duration-300;
}

.f1-nav-link:hover::after, .f1-nav-link-active::after {
  @apply w-full;
}

.f1-nav-link-active {
  @apply text-white;
}

.f1-card-image-gray {
  @apply grayscale hover:grayscale-0 transition-all duration-500;
}
